<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Marketing target	Smartphones</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link id="dynamic-favicon" rel="shortcut icon" href="./assets/icons/clean.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    {% if not error %}
        <!--<script src='/vendor/socket.io-client/dist/socket.io.js'></script>-->
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src='/socket.io/socket.io.js'></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/aes.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/pbkdf2.min.js"></script>
    {% endif %}
</head>
<body>
        <div class="container clearfix">
            <div class="chat">
                {% if main %}
                <div style="padding: 10px;  text-indent: 5px">
                    {% include "empty.html" %}
                </div>
                {% else %}
                <div class="chat-history">
                    <ul>
                    </ul>
                </div>

                <div class="chat-message clearfix">
                    <textarea name="message" placeholder="_" rows="1" id="inputfield"></textarea>
                    <span class="close" id="clearTextArea"></span>
                    <div id="multifiles" style="width:100%; height: auto; display: none"></div>
                </div>
                <div style="position: relative">
                    <button id="submit" type="submit">S</button>
                    <button type="button" class="resetCode">R</button>
                    <div class="file-block">
                        <label for="file" class="for-file"></label>
                        <input type="file" onchange="previewFile()" id="file" multiple>
                    </div>
                    <div class="code-block">
                        <input type="text" placeholder="C" name="code" class="empty"/>
                    </div>
                    <div class="code-block">
                        <input type="text" placeholder="U" name="user" class="empty"/>
                        <button type="button" id="isActive"></button>
                    </div>
                    <span class="close" id="removeAll"></span>
                    <button type="button" class="resetCode">R</button>
                </div>
                <script src="/assets/js/common.js"></script>
                <script src="/assets/js/auth.js"></script>
                {% endif %}
            </div>
        </div>

    <!--<script src="/assets/js.js"></script>-->

</body>
</html>